.principal{
    width: 75%;
    background-color: rgb(51, 49, 49);
     margin: auto;
}
.encabezado{    
    text-align: center;
}   
form{
    text-align: center;
}
.cuerpo{
    margin:auto
}
p{
    background-color: bisque;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
}